@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-icons/iconfont/material-icons.css";

//snake bare
.snack-success {
  background: rgba(27, 172, 27, 0.661);
}

.snack-error {
  background-color: orangered;
}

mat-error {
  font-size: 14px;
}
