<div class="flex-col justify-between items-center">
  <!-- header -->
  <div
    class="
      w-fill
      h-30
      flex
      justify-center
      items-center
      font-bold
      text-4xl text-white
      p-2
      bg-gray-800
      rounded-3xl
    "
  >
    New Person
  </div>
  <!-- body -->
  <form [formGroup]="form" class="mt-2">
    <div class="w-full">
      <label for="name" class="block text-xl font-bold text-gray-700"
        >Name*</label
      >
      <input
        formControlName="name"
        type="text"
        id="name"
        autocomplete="given-name"
        class="
          py-2
          mt-1
          border border-border-indigo-500
          focus:ring-indigo-500 focus:border-indigo-500
          block
          w-full
          text-7xl
          font-medium
          shadow-sm
          sm:text-sm
          border-gray-300
          rounded-md
          ease-in-out
          indent-1
        "
        [ngClass]="{'  border-red-600':form.get('name')?.errors?.['required'] && form.get('name')?.touched}"
      />
      <span
        *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched"
        class="text-sm text-red-600 flex justify-start items-center"
        >Name is required*</span
      >
    </div>
    <div class="w-full">
      <label for="age" class="block text-xl font-bold text-gray-700"
        >Age*</label
      >
      <input
        formControlName="age"
        type="number"
        id="age"
        autocomplete="given-name"
        class="
          py-2
          mt-1
          border border-border-indigo-500
          focus:ring-indigo-500 focus:border-indigo-500
          block
          w-full
          text-7xl
          font-medium
          shadow-sm
          sm:text-sm
          border-gray-300
          rounded-md
        "
        [ngClass]="{ '  border-red-600': ageError !== '' }"
      />

      <span class="text-sm text-red-600 flex justify-start items-center">{{
        ageError
      }}</span>
    </div>
    <div class="w-full">
      <label for="gender" class="block text-xl font-bold text-gray-700"
        >Gender*</label
      >
      <select
        formControlName="gender"
        id="gender"
        class="
          select select-bordered
          py-3
          mt-1
          border border-border-indigo-500
          focus:ring-indigo-500 focus:border-indigo-500
          block
          w-full
          text-7xl
          font-medium
          shadow-sm
          sm:text-sm
          border-gray-300
          rounded-md
        "
        [ngClass]="{ 'border-red-600': form.get('gender')?.errors?.['required'] && form.get('gender')?.touched }"
      >
        <option disabled="" selected="">Choose your superpower</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </form>
  <!-- actions -->
  <div class="flex justify-end items-center w-full h-10 gap-3 mt-3">
    <app-button
      inputClass="bg-red-500 text-white"
      text="Cancel"
      (clicked)="onClose()"
    >
    </app-button>
    <app-button
      [disabled]="!validForm"
      [inputClass]="
        form?.invalid ? 'bg-gray-300 text-gray-400' : 'bg-gray-800 text-white'
      "
      text="Add"
      [toolTip]="validForm ? 'Add new person' : 'Fill out the form then add'"
      (clicked)="onClose(form?.value)"
    >
    </app-button>
  </div>
</div>
